@import 'theme.scss';

.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-login {
  background-color: $green;
  font-family: 'Chonburi', cursive;
  font-size: 4vw;
  color: white;
  border: none;
  resize: none;
  height: 95%;
  width: 95%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-login-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8vw;
  margin-bottom: auto;
}

.main-login-user {
  width: 75%;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8vw;
  color: white;
  border: thin dotted white;
  margin: auto;
  margin-bottom: 0;
}

.main-login-password {
  width: 75%;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8vw;
  color: white;
  border: thin dotted white;
  margin-top: 1%;
  margin-bottom: auto;
}

.main-login-button {
  width: 75%;
  border: none;
  background-color: transparent;
  font-family: 'Chonburi', cursive;
  font-size: 5vw;
  color: white;
  cursor: pointer;
  margin-top: 1%;
  margin-bottom: auto;
}

.main-signup {
  background-color: $olive;
  font-family: 'Chonburi', cursive;
  font-size: 4vw;
  color: white;
  border: none;
  resize: none;
  height: 95%;
  width: 95%;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-signup-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8vw;
  margin-bottom: auto;
}

.main-signup-email {
  width: 75%;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8vw;
  color: white;
  border: thin dotted white;
  margin: auto;
  margin-bottom: 0;
}

.main-signup-user {
  width: 75%;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8vw;
  color: white;
  border: thin dotted white;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 0;
}

.main-signup-pass {
  width: 75%;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8vw;
  color: white;
  border: thin dotted white;
  margin-top: 1%;
  margin-bottom: auto;
}

.main-signup-button {
  width: 75%;
  border: none;
  background-color: transparent;
  font-family: 'Chonburi', cursive;
  font-size: 5vw;
  color: white;
  cursor: pointer;
  margin-top: 1%;
  margin-bottom: auto;
}


