@import 'theme.scss';

.registration {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.registration-login {
  resize: none;
  height: 95%;
  width: 100%;
  border-right: thin solid $medium-gray;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registration-login-header {
  font-family: $title-font;
  font-size: $subtitle-size-h;
  color: $panel-title-color;
  margin-bottom: auto;
}

.registration-login-user {
  @include list;
  width: 85%;
  font-family: $text-font;
  font-size: $ui-size-h;
  margin: auto;
  margin-bottom: 0;
}

.registration-login-password {
  @include list;
  width: 85%;
  font-family: $text-font;
  font-size: $ui-size-h;
  margin-top: 1%;
  margin-bottom: 0;
}

.registration-login-message {
  width: 85%;
  background-color: transparent;
  font-family: $text-font;
  font-size: $message-size-h;
  font-weight: bold;
  color: $red;
  margin-top: 0;
  margin-bottom: auto;
}

.registration-login-restore {
  width: 85%;
  margin-top: 0;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.registration-login-restore-header {
  font-family: $text-font;
  font-size: $message-size-h;
  color: $panel-title-color;
}

.registration-login-restore-email {
  @include list;
  width: 40%;
  font-family: $text-font;
  font-size: $message-size-h;
  text-align: center;
}

.registration-login-restore-button {
  border: none;
  background-color: transparent;
  font-family: $text-font;
  font-size: $message-size-h;
  color: $event-color;
  cursor: pointer;
}

.registration-login-button {
  width: 75%;
  border: none;
  background-color: $panel-background-color;
  font-family: $title-font;
  font-size: $title-size-h;
  color: $event-color;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: auto;
}

.registration-signup {
  resize: none;
  height: 95%;
  width: 100%;
  border: none;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registration-signup-header {
  font-family: $title-font;
  font-size: $subtitle-size-h;
  color: $panel-title-color;
  margin-bottom: auto;
}

.registration-signup-email {
  @include list;
  width: 85%;
  font-family: $text-font;
  font-size: $ui-size-h;
  margin: auto;
  margin-bottom: 0;
}

.registration-signup-user {
  @include list;
  width: 85%;
  background-color: transparent;
  font-family: $text-font;
  font-size: $ui-size-h;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 0;
}

.registration-signup-pass {
  @include list;
  width: 85%;
  background-color: transparent;
  font-family: $text-font;
  font-size: $ui-size-h;
  margin-top: 1%;
  margin-bottom: 0;
}

.registration-signup-message {
  width: 85%;
  background-color: transparent;
  font-family: $text-font;
  font-size: $message-size-h;
  font-weight: bold;
  color: $red;
  margin-top: 0;
  margin-bottom: auto;
}

.registration-signup-button {
  width: 75%;
  border: none;
  background-color: transparent;
  font-family: $title-font;
  font-size: $title-size-h;
  color: $event-color;
  cursor: pointer;
  margin-top: 1%;
  margin-bottom: auto;
}

@media screen and (orientation: portrait) {
  .registration {
    flex-direction: column;
  }

  .registration-login {
    height: 100%;
    width: 90%;
    border-right: none;
    border-bottom: thin solid $medium-gray;
  }
  
  .registration-login-header {
    font-size: $subtitle-size-v;
  }

  .registration-login-user {
    width: 90%;
    font-size: $ui-size-v;
  }

  .registration-login-password {
    width: 90%;
    font-size: $ui-size-v;
  }

  .registration-login-restore {
    width: 90%;
  }

  .registration-login-restore-header {
    font-size: $message-size-v;
  }

  .registration-login-restore-email {
    font-size: $message-size-v;
  }

  .registration-login-restore-button {
    font-size: $ui-size-v;
  }

  .registration-login-message {
    width: 90%;
    font-size: $message-size-v;
  }

  .registration-login-button {
    font-size: $title-size-v;
  }

  .registration-signup {
    width: 90%;
    border: none;
  }

  .registration-signup-header {
    font-size: $subtitle-size-v;
  }

  .registration-signup-user {
    width: 90%;
    font-size: $ui-size-v;
  }

  .registration-signup-email {
    width: 90%;
    font-size: $ui-size-v;
  }

  .registration-signup-pass {
    width: 90%;
    font-size: $ui-size-v;
  }

  .registration-signup-message {
    width: 90%;
    font-size: $message-size-v;
  }
  
  .registration-signup-button {
    font-size: $title-size-v;
  }
}
