@import 'theme.scss';

.stories-feed {
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stories-feed-header {
  resize: none;
  height: 100%;
  width: 95%;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //border-bottom: thin solid $medium-gray;
}

.stories-feed-header-title {
  background-color: transparent;
  font-family: $title-font;
  font-size: $subtitle-size-h;
  color: $panel-title-color;
}

.stories-feed-stories {
  background-color: transparent;
  resize: none;
  height: 80%;
  width: 100%;
  border: none;
  flex: 10;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
}

.stories-feed-stories-story {
  width: 25%;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.stories-feed-stories-story-title-box {
  background-color: transparent;
  width: 90%;
  text-align: center;
  flex: 2.5;
  //display: flex;
  //flex-direction: column;
  //justify-content: flex-start; 
  //align-items: flex-start;
  border-top: thin solid $medium-gray;
}

.stories-feed-stories-story-title-box-title {
  background-color: transparent;
  width: 90%;
  word-wrap: break-word;
  white-space: pre-line;
  overflow: hidden;
  //flex: 1;
  font-family: $title-font;
  font-size: $ui-size-h;
  color: $panel-title-color;
}


.stories-feed-stories-story-text {
  background-color: transparent;
  width: 90%;
  text-align: left;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  flex: 10;
  font-family: $text-font;
  font-size: $text-size-h;
  color: $panel-title-color;
  border: thin;
  //padding-top: 10%;
}

.stories-feed-stories-story-footer {
  background-color: transparent;
  width: 90%;
  //margin-top: 5%;
  flex: 1.5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  //justify-content: flex-end;
  border-bottom: thin solid $medium-gray;
}

.stories-feed-stories-story-footer-context {
	background-color: transparent;
	width: 100%;
	flex: 1;
  font-family: $title-font;
  font-size: $context-size-h;
  color: $panel-title-color;
  //border-bottom: thin solid $medium-gray;
}

.stories-feed-stories-story-footer-read {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-family: $title-font;
  font-size: $text-size-h;
  color: $event-color;
  cursor: pointer;
  flex: 1;
  text-align: right;
}

.stories-feed-footer {
  width: 95%;
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  //border-top: thin solid $medium-gray;
}

.stories-feed-footer-previous {
  border: none;
  background-color:$panel-background-color;
  font-family: $title-font;
  font-size: $subtitle-size-h;
  color: $event-color;
  cursor: pointer;
  margin-right: auto;
  padding-left: 25%
}

.stories-feed-footer-previous:disabled {
  color: $medium-gray;
}

.stories-feed-footer-next {
  border: none;
  background-color:$panel-background-color;
  font-family: $title-font;
  font-size: $subtitle-size-h;
  color: $event-color;
  cursor: pointer;
  margin-left: auto;
  padding-right: 25%
}

.stories-feed-footer-next:disabled {
  color: $medium-gray;
}
