@import 'theme.scss';

.reset {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reset-pass {
  width: 100%;
  height: 95%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-pass-header {
  color: $panel-title-color;
  font-family: $title-font;
  font-size: $subtitle-size-h;
}

.reset-pass-input {
  width: 75%;
  font-family: $text-font;
  font-size: $ui-size-h;
  margin: auto;
  margin-bottom: 0;
}

.reset-pass-input2 {
  width: 75%;
  font-family: $text-font;
  font-size: $ui-size-h;
  margin: 1%;
  margin-bottom: 0;
}

.reset-pass-message {
  width: 75%;
  background-color: transparent;
  font-family: $text-font;
  font-size: $message-size-h;
  color: $red;
  margin-top: 0;
  margin-bottom: auto;
}

.reset-pass-button {
  width: 75%;
  border: none;
  background-color: transparent;
  font-family: $title-font;
  font-size: $title-size-h;
  color: $event-color;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: auto;
}

@media screen and (orientation: portrait) {
  .reset-pass {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .reset-pass-header {
    font-size: $title-size-v;
  }

  .reset-pass-input {
    font-size: $ui-size-v;
  }
  
  .reset-pass-input2 {
    font-size: $ui-size-v;
  }

  .reset-pass-message {
    font-size: $message-size-v;
  }

  .reset-pass-button {
    font-size: $title-size-v;
  }
}
