/* Globals */
$light_gray: #E4E3DC; 
$black: #141516;
$red: #8D332B;
$brownish: #827A6D;

/* Background pattern from subtlepatterns.com */
body {
  // background-image: url('background.jpg');
  // background-repeat: repeat;
  // background-size: 100% auto;
}

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Chonburi);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
