/* Globals */
$red: #C3272B;

$light-gray: #FFFFFA;
$medium-gray: #C8C8C8;
$dark-gray: #515151;

body {
  background-color: $light-gray;
}

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Work+Sans:200);

$title-font: 'Work Sans', sans-serif;
$header-font: 'Work Sans', sans-serif;
$text-font: 'Work Sans', sans-serif;

/* Text size */
$title-size-h: 3vw; 
$title-size-v: 3.5vh; 
$subtitle-size-h: 1.4vw; 
$header-size-h: 3vw; 
$header-size-v: 2vh; 
$subtitle-size-v: 1.5vh; 
$introduction-size-h: 1.4vw; 
$introduction-size-v: 1.8vh; 
$message-size-h: 1.2vw; 
$message-size-v: 1.6vh; 

/* Panel styling */
$panel-title-color: $dark-gray;
$panel-subtitle-color: $dark-gray;
$panel-background-color: $light-gray;
$panel-options-color: $dark-gray;


/* Panel border */
@mixin panel () {
  border-width: 1px;
  border-style: solid;
  border-color: $medium-gray;
  background-color: $light-gray;
}

@mixin list () {
  background-color: $panel-background-color;
  color: $panel-subtitle-color;
  border: thin solid $medium-gray;
  //border: thin solid $panel-subtitle-color;
  appearance: node;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Input placeholder color */
::-webkit-input-placeholder {
   color: $panel-title-color;
}
:-moz-placeholder { /* Firefox 18- */
   color: $panel-title-color;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $panel-title-color;  
}
:-ms-input-placeholder {  
   color: $panel-title-color;  
}

/* Selected item border */
:focus {
  outline: none;
}
