/* Globals */
$yellow: #FAD567; 
$orange: #F98358;
$rose: #D2597F;
$indigo: #978EAB;
$blue: #569DB9;
$green: #74AAA3;
$olive: #50646E;
$grey: #F0F0F0;
$light-grey: #DCDCDC;

body {
  background-color: $grey;
}

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Chonburi);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:300);

/* Input placeholder color */
::-webkit-input-placeholder {
   color: $light-grey;
}
:-moz-placeholder { /* Firefox 18- */
   color: $light-grey;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $light-grey;  
}
:-ms-input-placeholder {  
   color: $light-grey;  
}

/* Selected item border */
:focus {
  outline: none;
}
