@import 'theme.scss';

.welcome {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcome-about {
  height: 95%;
  width: 100%;
  border-right: thin solid $medium-gray;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-about-title {
  color: $panel-title-color;
  font-family:$title-font;
  font-size: $title-size-h;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.welcome-about-subtitle {
  color: $panel-subtitle-color;
  font-family: $header-font;
  font-size: $subtitle-size-h;
  margin-top: 0;
}

.welcome-introduction {
  border-right: thin solid $medium-gray;
  height: 95%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.welcome-introduction-text {
  background-color: transparent;
  -webkit-opacity: 1; 
  -webkit-text-fill-color: $dark-gray; 
  font-family: $text-font;
  font-size: $introduction-size-h;
  padding: 10%;
  text-align: justify;
  border: none;
  resize: none;
}

.welcome-options {
  height: 95%;
  width: 100%;
  font-family:$title-font;
  flex: 1;
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
}

.welcome-options-read {
  text-decoration: none;
  padding-bottom: 1vw;
  font-size: $title-size-h;
  color: $panel-options-color;
}

.welcome-options-write {
  text-decoration: none;
  padding-bottom: 1vw;
  font-size: $title-size-h;
  color: $panel-options-color;
}

@media screen and (orientation: portrait) {
    .welcome {
      flex-direction: column;
    }
    
    .welcome-about {
      height: 100%;
      width: 90%;
      border-right: none;
      border-bottom: thin solid $medium-gray;
    }

    .welcome-about-title {
      font-size: $title-size-v;
    }
    
    .welcome-about-subtitle {
      font-size: $subtitle-size-v;
    }

    .welcome-introduction {
      height: 100%;
      width: 90%;
      border-right: none;
      border-bottom: thin solid $medium-gray;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .welcome-introduction-text {
      font-size: $introduction-size-v;
    }

    .welcome-options {
      height: 100%;
      width: 90%;
      flex-direction: row;
      justify-content: center;
    }

    .welcome-options-read {
      padding-right: 2vw;
      font-size: $title-size-v;
    }

    .welcome-options-write {
      padding-left: 2vw;
      font-size: $title-size-v;
    }
}

