@import 'theme.scss';

.welcome {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: $black;
  background-size: 100% auto ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcome-about {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-about-title {
  color: $light_gray;
  font-family:'Chonburi', cursive;
  font-size: 5vw;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  //transform: rotate(270deg);
	//transform-origin: center center 0;
}

.welcome-about-subtitle {
  color: $red;
  font-family:'Montserrat', sans-serif;
  font-size: 1.8vw;
  //flex: 1;
  margin-top: 0;
  //transform: rotate(270deg);
	//transform-origin: center center 0;
}

.welcome-introduction {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.welcome-introduction-text {
  height: 40%;
  width: 100%;
  background-color: transparent;
  color: $brownish;
  -webkit-opacity: 1; 
  -webkit-text-fill-color: $brownish; 
  font-family: 'Josefin Slab', serif;
  font-size: 2vw;
  text-align: center;
  border: none;
  resize: none;
}

.welcome-options {
  height: 100%;
  width: 100%;
  font-family:'Chonburi', cursive;
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: flex-end;
  background-color: $black;
}

.welcome-options-read {
  text-decoration: none;
  padding-bottom: 1vw;
  padding-right: 5vw;
  font-size: 5vw;
  color: $light_gray;
}

.welcome-options-write {
  text-decoration: none;
  padding-bottom: 1vw;
  padding-right: 5vw;
  font-size: 5vw;
  color: $red;
}

@media screen and (orientation: landscape) and (max-aspect-ratio: 4084/2623) {
  .welcome {
    background-size: auto 100%;
  }
}

@media screen and (orientation: portrait) {
    .welcome {
      flex-direction: column;
      background-image: url('background.jpg');
      background-size: auto 100%;
    }
    
    .welcome-introduction {
      font-size: 3vh;
      margin: 2.5%;
    }

    .welcome-options {
      flex-direction: row;
      justify-content: center;
    }

    .welcome-options-read {
      padding-bottom: 0;
      padding-right: 10px;
      font-size: 5vh;
    }

    .welcome-options-write {
      padding-top: 0;
      padding-left: 10px;
      padding-bottom: 0px;
      font-size: 5vh;
    }
}

