@import 'theme.scss';

.write {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.write-context {
  resize: none;
  height: 95%;
  width: 100%;
  border-right: 1px solid $medium-gray;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.write-context-header {
  font-family: $text-font;
  font-size: $header-size-h;
  color: $panel-title-color;
  margin-bottom: auto;
}

.write-context-language {
  @include list;
  width: 75%;
  font-family: $text-font;
  font-size: $subtitle-size-h;
  padding-left: 2px;
  cursor: pointer;
  margin-bottom: 1%;
}

.write-context-country {
  @include list;
  width: 75%;
  font-family: $text-font;
  font-size: $subtitle-size-h;
  padding-left: 2px;
  cursor: pointer;
  margin-bottom: 1%;
}

.write-context-date {
  @include list;
  width: 75%;
  font-family: $text-font;
  font-size: $subtitle-size-h;
  padding-left: 2px;
  cursor: pointer;
  margin-bottom: 1%;
}

.write-context-location {
  width: 100%;
  background-color: transparent;
  font-family: $text-font;
  font-size: $subtitle-size-h;
  color: $panel-title-color;
  border: none;
}
.react-autosuggest__container {
  width: 75%;
  max-height: 40%;
  font-size: $subtitle-size-h;
  overflow: scroll;
  border: thin solid $medium-gray;
  margin-bottom: auto;
}

.react-autosuggest__suggestions-container {
  font-family: $text-font;
  font-size: $subtitle-size-h;
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
}

.react-autosuggest__suggestion {
  color: $panel-title-color;
}

.react-autosuggest__suggestion--focused {
  background-color: $dark-gray;
  color: $light-gray;
}

.write-story{
  color: $panel-title-color;
  resize: none;
  height: 95%;
  width: 100%;
  border: none;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.write-story-header {
  font-family: $text-font;
  font-size: $header-size-h;
  margin-bottom: auto;
}

.write-story-title {
  width: 90%;
  background-color: transparent;
  font-family: $text-font;
  font-size: $subtitle-size-h;
  padding-left: 2px;
  color: $panel-title-color;
  border: thin solid $medium-gray;
  appearance: none;
  margin-bottom: 1%;
}

.write-story-story {
  width: 90%;
  height: 50%;
  background-color: transparent;
  font-family: $text-font;
  font-size: $introduction-size-h;
  padding-left: 2px;
  color: $panel-title-color;
  border: thin solid $medium-gray;
  appearance: none;
  margin-bottom: 0;
}

.write-story-messages {
  width: 90%;
  background-color: transparent;
  font-family: $text-font;
  font-size: $message-size-h;
  font-weight: bold;
  color: $red;
  margin-top: 0;
  margin-bottom: auto;
}

.write-story-button {
  border: none;
  background-color: $panel-background-color;
  font-family: $title-font;
  font-size: $title-size-h;
  color: $panel-options-color;
  cursor: pointer;
  margin-bottom: auto;
}

@media screen and (orientation: portrait) {
  .write {
    flex-direction: column;
  }

  .write-context {
    width: 90%;
    border-right: none;
    border-bottom: thin solid $medium-gray
  }
  
  .write-context-header {
    font-size: $title-size-v;
  }

  .write-context-language {
    width: 90%;
    font-size: $subtitle-size-v;
  }

  .write-context-country {
    width: 90%;
    font-size: $subtitle-size-v;
  }

  .write-context-date{
    width: 90%;
    font-size: $subtitle-size-v;
  }

  .write-context-location{
    font-size: $subtitle-size-v;
  }

  .react-autosuggest__container {
    width: 90%;
    max-height: 30%;
  }

  .write-story {
    width: 90%;
    //margin-left: 10px;
    //margin-right: 10px;
  }

  .write-story-header {
    font-size: $title-size-v;
  }

  .write-story-title {
    font-size: $subtitle-size-v;
  }

  .write-story-story {
    font-size: $introduction-size-v;
  }

  .write-story-messages {
    font-size: $message-size-v;
  }

  .write-story-button {
    font-size: $title-size-v;
  }
}
